Dockerfile
.github
.husky
.dockerignore
.vscode
.next
.env*
!.env.development
!.env.staging
!.env.production
.prettierrc
.prettierignore
analyze
README.md
node_modules

scripts 
!scripts/submodule.sh
